*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html, body, #root{
  height: 100%;
  width: 100%;
}

html{
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
  flex-wrap: wrap;
}

.note{
  background-color: gray;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: aliceblue;
}

.note-create-form{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
}

.note-create-form input,
.note-create-form button {
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  font-size: 1rem;
}

.note-create-form button {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
}
